<section class="design wrapper">

    <div class="design__dropdown">
        <div class="design__dropdown--header">
            <i class="far fa-object-ungroup design__dropdown--ungroup"></i>
            <h2 class="design__dropdown--title">diseña</h2>
        </div>
        <div class="design__dropdown--chevron"><i class="fas fa-chevron-up"></i>
        </div>

    </div>


    <div class="form">
        <h3 class="form__description">colores</h3>
        <form action="#" method="get" class="form__palette">

            <div class="form__palette--item">
                <input type="radio" id="palette1" value="palette1" name="palette" class="form__palette--radio"><img
                    src="./assets/images/palette1.png" class="form__palette--image" alt="colour palette 1">
            </div>
            <div class="form__palette--item">
                <input type="radio" id="palette2" value="palette2" name="palette" class="form__palette--radio"><img
                    src="./assets/images/palette2.png" class="form__palette--image" alt="colour palette 2">
            </div>
            <div class="form__palette--item">
                <input type="radio" id="palette3" value="palette3" name="palette" class="form__palette--radio"><img
                    src="./assets/images/palette3.png" class="form__palette--image" alt="colour palette 3">
            </div>
        </form>
    </div>

</section>