<main class="main-page">
    <div class="img-principal">
        <img class="logo-awesome-main" src="../assets/images/logo-awesome-profile-cards.svg" alt="">
    </div>
    <h1 class="title-main">crea tu tarjeta de visita</h1>
    <p class="subtitle-main">crea mejores contactos profesionales de forma fácil y cómoda</p>
    <div>
        <div class="options-main">
            <div class="options-kid">
                <i class="far fa-object-ungroup dropdown__ungroup"></i>
                <h2 class="title-options">diseña</h2>
            </div>
            <div class="options-kid">
                <i class="fill__dropdown--icon dropdown__ungroup"></i> <i class="far fa-keyboard dropdown__ungroup"></i>
                <h2 class="title-options">rellena</h2>
            </div>
            <div class="options-kid">
                <i class="far fa-object-ungroup dropdown__ungroup"></i>
                <h2 class="title-options">comparte</h2>
            </div>
        </div>


        <a class="comenzar" href="./card.html">
            <button class="comenzar">
                <h2 class="title-button">comenzar</h2>
            </button>
        </a>

</main>