<section class="preview">
  <div>
    <button class="preview--button">
    <i class="far fa-trash-alt"></i> Reset
  </button>
  <div class="preview--card">
    <div class="preview--card__info">
      <div class="preview--edge"></div>
      <div>
        <h2>titulo</h2>
        <h3>subtitulo</h3>
      </div>
    </div>
    <img src="./assets/images/foto-perfil.jpg" />
    <div class="icons">
      <div class="icons--border"><i class="fas fa-mobile-alt"></i></div>
      <div class="icons--border"><i class="far fa-envelope"></i></div>
      <div class="icons--border"><i class="fab fa-linkedin-in"></i></div>
      <div class="icons--border"><i class="fab fa-github-alt"></i></div>
    </div>
  </div></div>
</section>
