<section class="preview">
  <button class="preview--button">
    <i class="far fa-trash-alt"></i> Reset
  </button>
  <div class="preview--card">
    <div>
      <div class="preview--card__edge"></div>
      <h2>titulo</h2>
      <h3>subtitulo</h3>
    </div>
    <img src="./assets/images/logo-adalab.png" />
    <div>
      <i class="fas fa-mobile-alt"></i>
      <i class="far fa-envelope"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-github-alt"></i>
    </div>
  </div>
</section>
