<section class="share wrapper">

    <div class="dropdown">
        <div class="dropdown__header">
            <i class="far fa-share-alt dropdown__ungroup"></i>
            <h2 class="dropdown__title">comparte</h2>
        </div>
        <div><i class="fas fa-chevron-up"></i>
        </div>
    </div>

    <section class="create">
        <button class="create__btn" name="create"><i class="far fa-address-card create__address"></i></i>crear
            tarjeta</button>

        <div class="created">
            <h3 class="created__title">La tarjeta ha sido creada:</h3>
            <a href="#" class="created__url">https://awesome-profile-card.com?id=A456DF0001</a>
            <button class="created__btn"><a href="#" target="_blank" class="created__btn--text"><i
                        class="fab fa-twitter created__btn--icon"></i>Compartir en Twitter</a></button>
        </div>
    </section>
</section>