<section class="share wrapper">

	<div class="dropdown">
		<div class="dropdown__header">
			<i class="far fa-share-alt dropdown__ungroup"></i>
			<h2 class="dropdown__title">comparte</h2>
		</div>
		<div><i class="js-chevron3 fas fa-chevron-down"></i>
		</div>
	</div>

	<section class="create js-collapsable3 hidden">
		<button class="create__btn js-createBtn" name="create"><i
				class="far fa-address-card create__address"></i></i>crear
			tarjeta</button>

		<div class="created hidden js-cardCreated">
			<h3 class="created__title">La tarjeta ha sido creada:</h3>
			<a href="" target="_blank" class="created__url js-url"></a>
			<button class="created__btn twitter--button"><a href="#" class="created__btn--text twitter--link"><i
						class="fab fa-twitter created__btn--icon"></i>Compartir en Twitter</a></button>
		</div>
	</section>
</section>