.design {
    height: 224px;
    border-bottom: 1px solid $whiteTwo;

    &__dropdown {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        font-size: 18px;
        color: $gunMetal;

        &--header {
            display: flex;
        }
        &--ungroup {
            color: $orange;
            margin-right: 10px;
        }
        &--title {
            font-family: $bodyF;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;

    &__description {
        margin-left: 19px;
        font-size: 14px;
        text-transform: uppercase;
    }
    &__palette {

        &--item {
           margin-bottom: 20px;
           display: flex;
           align-items: center;
        
        }
        &--radio {
            height: 17px;
            width: 17px;
        }

        &--image {
            width: 90px;
            height: 25px;
        }
    }
    
}
